<%- include('includes/header.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <div class="table-wrapper">
                <h1>Page Not Found!</h1>
            </div>

            <%- include('includes/end.ejs') %>